<template name="dashSideBar">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="{{#if checkInOutPage}}active{{/if}}"><a href="{{pathFor 'dashboard'}}"><span class="glyphicon glyphicon-time"></span> Check In/Out</a></li>
		<li class="{{#if times}}active{{/if}}"><a href="{{pathFor 'times'}}"><span class="glyphicon glyphicon-calendar"></span> View Times</a></li>
	</ul>
      <ul class="nav nav-sidebar">
        <li class="{{#if addNewUserPage}}active{{/if}}"><a href="{{pathFor 'addNewUser'}}"><span class="glyphicon glyphicon-plus"></span> Add New User</a></li>
      </ul>
    </div>
</template>
