<template name="dashboard">
				<h1 class="page-header">Welcome back{{name}}!</h1>
				<h4>You are currently <strong>{{#if checkedIn}}checked in{{else}}checked out{{/if}}</strong>.</h4>
				<h2 class="text-center margin-top-50"> What would you like to do?</h2>
				{{#if checkedIn}}
					<button type="button" class="center-block btn btn-danger btn-lg check-in-out margin-top-50" id="checkOut">Check Out</button>
				{{else}}
					<button type="button" class="center-block btn btn-success btn-lg check-in-out margin-top-50" id="checkIn">Check In</button>
				{{/if}}
				<div class="row margin-top-50">
					<div class="col-lg-6">
						{{> checkedInUserList}}
					</div>
					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Your Recent Activity</h3>
							</div>
							<div class="panel-body">
								<table class="table table-condensed">
									<thead>
										<tr>
											<th>Status</th>
											<th>Date</th>
											<th>Time</th>
										</tr>
									</thead>
									<tbody>
										{{#each log}}
											{{> userLogs}}
										{{/each}}
									</tbody>
								</table>
								<p class="text-center"><a href="{{pathFor 'times'}}">View More</a></p>
							</div>
						</div>
					</div>
				</div>
</template>