<template name="dashboard">
	<div class="container-fluid">
		<div class="row">
			{{> dashSideBar}}
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header">Welcome back{{name}}!</h1>
				<h4>You are currently <strong>{{#if checkedIn}}checked in{{else}}checked out{{/if}}</strong>.</h4>
				<h2 class="text-center margin-top-50"> What would you like to do?</h2>
				{{#if checkedIn}}
					<button type="button" class="center-block btn btn-danger btn-lg check-in-out margin-top-20" id="checkOut">Check Out</button>
				{{else}}
					<button type="button" class="center-block btn btn-success btn-lg check-in-out margin-top-20" id="checkIn">Check In</button>
				{{/if}}
			</div>
		</div>
	</div>
</template>
